@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500";


header {
    background-color: #fff;
    padding: 8px;
    width: auto;
    margin: 0 auto;
}

.logo h1{
    position: relative;
    margin: 0 auto;
    color: #073566;
    font-size: 60px;
    font-weight: bold;
}

img {
    height: 60px;
    width: auto;

}

.alert-info {
    padding: 20px;
    background-color: #f0f8ff;
    color: #000;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    font-size: 16px;
  }
  
  .alert-info button {
    border: none;
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
  }


/* Moobile First responsive design*/


body {
    width: auto;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    line-height: 1.5;
}


.container {
    display: flex;
    justify-content: center;
    /* Centrar horizontalmente */
    align-items: center;
    /* Centrar verticalmente */
    height: 200px;
    /* Establecer altura del contenedor */
}

textarea {
    padding: 10px;
    font-size: 16px;
    justify-content: center;
    border: none;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 150px;
    resize: none;
}

.info {
    text-align: center;
}

.copy{
    display: none;
    font-weight: bold;
    color: #6c757d;
    cursor: pointer;
}

.help {
    font-size: 12px;
    margin-top: 8px;
    color: gray;
}

.container-btn {
    display: block;
    text-align: center;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container button {
    margin-bottom: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    color: #fff;
    border-radius: 12px;
    cursor: pointer;
}

.blue-button {
    width: 200px;
    height: 50px;
    background-color: #007bff;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gray-button {
    background-color: #6c757d;
    width: 200px;
    height: 50px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.gray-button_copy {
    background-color: #6c757d;
    width: 200px;
    height: 50px;
    font-weight: bold;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
}

.resultado {
    display: block;
    background: #FFFFFF;
    /* shadow */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    border-radius: 32px;
    width: 300px;
    /* Ancho del div */
    margin: 0 auto;
    /* Centrar horizontalmente */
    text-align: center;
    /* Centrar contenido del div */

}
#resultado{
    padding: 30px;
   
}

.resultado h3 {
    padding: 10px;
    height: auto;
    font-weight: bold;
    color: #404447;

}

.resultado p {
    padding: 10px;
    color: #494b4d;

}

/* Desktop */
@media screen and (min-width: 1360px) {
    * {
        box-sizing: inherit;
    }


    header {
        padding: 20px 0;
        width: 940px;
        position: relative;
        margin: 0 auto;
    }

    .logo {
        justify-content: center;
        margin: 0 auto;
    }

  
    .resultado {
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        width: 400px;
        height: 800px;
        right: 100px;
        top: 40px;
        /* White */
        background: #FFFFFF;
        /* shadow */
        box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.5);
        border-radius: 32px;
    }

    .resultado img{
        width: 250px;
        height: 200px;
    }


}